# Polyart
"Assets/Imported Assets/Polyart/PolyartStudio/DreamscapeMountains/Scenes/DemoTerrain_V2.0.asset" filter=lfs diff=lfs merge=lfs -text
"Assets/Imported Assets/Polyart/PolyartStudio/DreamscapeMountains/Scenes/DemoTerrain.asset" filter=lfs diff=lfs merge=lfs -text